.input_large {
    min-height: 25px;
    width: 350px;
    margin-top: 5px;
}

.input_small {
    min-height: 25px;
    width: 120px;
    margin-top: 5px;
}

.input_middle {
    min-height: 25px;
    width: 220px;
    margin-top: 5px;
}