<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modeling Detail</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/farbtastic.js}"></script>
    <script th:src="@{/js/cytoscape.min.js}"></script>
    <script th:src="@{/js/cytoscape-ngraph.forcelayout.js}"></script>
    <script th:src="@{/js/FileSaver.min.js}"></script>
    <link rel="icon" href="images/cecafdb_title_logo.png"
          type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css"/>
    <link rel='stylesheet' type='text/css' th:href="@{/css/wuxia-green.css}"/>
    <link rel="stylesheet" th:href="@{/css/farbtastic.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <!-- Bootstrap core CSS -->
    <style type="text/css">
        .reactions_table {
            border-collapse: collapse;
            background-color: #f6f6f6;
            border: 2px solid #fdfdfd;
            border-collapse: separate;
            *border-collapse: collapsed;
            border-left: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        .reactions_table th {
            background: #CCCCCC;
            padding: 7px 15px;
            text-align: center;
            vertical-align: middle;
            border-top: 2px solid #fdfdfd;
            border-left: 2px solid #fdfdfd;
        }

        .reactions_table td {
            background: #C7DDEE none repeat-x scroll center left;
            color: #474545;
            font: 15px Verdana, Geneva, sans-serif;
            padding: 7px 15px;
            border-top: 2px solid #fdfdfd;
            border-left: 2px solid #fdfdfd;
            word-wrap: break-word;
            word-break: break-all;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div class="shell">
        <div class="container">
            <div th:replace="common/head::myhead"></div>
            <div class="main" style="padding: 10px">
                <div id="cytoscape_flux_graph"
                     style="width:950px;height:500px;">
                </div>
                <div style="width:950px;text-align: center; margin-top: 30px;">
                    Font size:&nbsp;<input id="font_size_input" style="width:60px;height:20px;margin-top:5px;"
                                           type="text" placeholder="font size"/>&nbsp;
                    Node size:&nbsp;<input id="node_size_input" style="width:60px;height:20px;margin-top:5px;"
                                           type="text" placeholder="node size"/>&nbsp;
                    Node Color:&nbsp;<input type="text" id="node_color_input"
                                            style="width:60px;height:20px;margin-top:5px;" value="#0B94B1"
                                            onblur="hidecolorpicker();"/>&nbsp;
                    Edge Color:&nbsp;<input type="text" id="edge_color_input"
                                            style="width:60px;height:20px;margin-top:5px;" value="#999999"
                                            onblur="hidecolorpicker();"/>&nbsp;&nbsp;
                    <button type="button" id="refresh_img_btn" class="layui-btn"
                            style="margin-bottom: 3px;">Refresh
                    </button>&nbsp;&nbsp;
                    <a><img width="35px" height="35px" src="images/export_png.png" id="export_png"/></a>
                    <div id="node_picker" style="margin-left: 350px;margin-top:10px;"></div>
                    <div id="edge_picker" style="margin-left: 350px;margin-top:10px;"></div>
                </div>
            </div>

            <!-- statistics -->
            <div class="reactions_table" style="margin-top: 10px;">
                <table class="table table-striped table-bordered" style="margin-bottom: 1px;">
                    <thead>
                    <tr>
                        <th>Reaction count</th>
                        <th>Compound count</th>
                        <th>Least Squares</th>
                        <th>Goodness-Of-Fit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${statics_bean.reaction_count}"></td>
                        <td th:text="${statics_bean.compound_count}"></td>
                        <td th:text="${statics_bean.minimal_norm2}"></td>
                        <td th:text="${statics_bean.goodness_of_fit}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- C Free -->
            <div class="reactions_table" style="margin-top: 10px;">
                <table class="table table-striped table-bordered" style="margin-bottom: 1px;">
                    <thead>
                    <tr>
                        <th>Metabolite</th>
                        <th>Pool size estimate</th>
                        <th>Confidence interval</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c_free_bean : ${c_free_list}">
                        <td th:text="${c_free_bean.name}"></td>
                        <td th:text="${c_free_bean.value}"></td>
                        <td th:text="${c_free_bean.confidence_interval}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Reaction Table -->
            <div class="reactions_table" style="margin-top: 10px;">
                <table class="table table-striped table-bordered" style="margin-bottom: 1px;">
                    <thead>
                    <tr>
                        <th>Reaction name</th>
                        <th>Reactants</th>
                        <th>Products</th>
                        <th>Flux</th>
                        <th>Confidence interval</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reactionBean : ${reaction_list}">
                        <td th:text="${reactionBean.name}"></td>
                        <td th:text="${reactionBean.reactants}"></td>
                        <td th:text="${reactionBean.products}"></td>
                        <td th:text="${reactionBean.value}"></td>
                        <td th:text="${reactionBean.confidence_interval}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Flux net-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">FLUXES&nbsp;NET</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>Reaction Name</th>
                            <th>Constrained Flux Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="fluxNetBean : ${flux_net_list}">
                            <td th:text="${fluxNetBean.name}"></td>
                            <td th:text="${fluxNetBean.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Pool Size-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">POOL&nbsp;SIZE</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>Compound Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="poolSizeBean : ${pool_size_list}">
                            <td th:text="${poolSizeBean.name}"></td>
                            <td th:text="${poolSizeBean.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- EQUALITIES-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">EQUALITIES</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>Coefficient reaction 1</th>
                            <th>Coefficient reaction 2</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="equalitiesBean : ${equalities_list}">
                            <td th:text="${equalitiesBean.coefficient_reaction1}"></td>
                            <td th:text="${equalitiesBean.coefficient_reaction2}"></td>
                            <td th:text="${equalitiesBean.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- INEQUALITIES-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">INEQUALITIES</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>InEqualities</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="inEqualitiesBean : ${inEqualities_list}">
                            <td th:text="${inEqualitiesBean.content}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- LABEL_INPUT-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">LABEL_INPUT</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>Compound</th>
                            <th>Isotopomer</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="labelInputBean : ${label_input_list}">
                            <td th:text="${labelInputBean.name}"></td>
                            <td th:text="${labelInputBean.code}"></td>
                            <td th:text="${labelInputBean.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- MASS_SPECTROMETRY-->
            <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                <P style="margin-left: 5px;">MASS_SPECTROMETRY</P>
                <div style="width : 100%; margin: 0 auto;">
                    <table class="table table-striped table-bordered reactions_table" style="margin-bottom: 1px;">
                        <thead>
                        <tr>
                            <th>Compound</th>
                            <th>Fragment</th>
                            <th>Mass</th>
                            <th>Value</th>
                            <th>Standard deviation</th>
                            <th>Time point</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="massSpectrometryBean : ${mass_spectrometry_list}">
                            <td th:text="${massSpectrometryBean.name}"></td>
                            <td th:text="${massSpectrometryBean.fragment}"></td>
                            <td th:text="${massSpectrometryBean.mass}"></td>
                            <td th:text="${massSpectrometryBean.value}"></td>
                            <td th:text="${massSpectrometryBean.standard_deviation}"></td>
                            <td th:text="${massSpectrometryBean.time_point}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <form id="download_form" method="post" th:action="@{/download_reaction}">
                <input type="hidden" name="timestamp" id="timestamp_input">
            </form>
            <button type="button" class="layui-btn" id="download_reaction_flux_btn"
                    style="margin: 10px;">Download
            </button>
        </div>

    </div>
    <div th:replace="common/foot::myfoot"></div>
</div>
</div>
</div>
<script>
    $("#download_reaction_flux_btn").click(function(){
        $("#timestamp_input").val("[[${timestamp}]]");
        $("#download_form").submit();
        return false;
    });

    function hidecolorpicker() {
        $("#node_picker").css("display", "none");
        $("#edge_picker").css("display", "none");
    }

    $("#font_size_input").val("15");
    $("#node_size_input").val("20");

    $("#edge_color_input").css("background-color", "#999999");
    $("#node_color_input").css("background-color", "#0B94B1");

    $("#node_picker").css("display", "none");
    $("#edge_picker").css("display", "none");

    $("#node_color_input").click(function () {
        $("#edge_picker").css("display", "none");
        $("#node_picker").css("display", "block");
    });
    $("#edge_color_input").click(function () {
        $("#edge_picker").css("display", "block");
        $("#node_picker").css("display", "none");
    });

    $('#node_picker').farbtastic('#node_color_input');
    $('#edge_picker').farbtastic('#edge_color_input');

    var data = "[[${graph_data}]]";
    data = data.replace(/&quot;/g, "\"");
    data = JSON.parse(data);
    var cy = window.cy = cytoscape({
        container: $('#cytoscape_flux_graph'),
        boxSelectionEnabled: false,
        autounselectify: true,
        layout: {
            name: 'cytoscape-ngraph.forcelayout'
        },
        style: [
            {
                selector: 'node',
                style: {
                    'shape': 'circle',
                    'height': 'data(width)',
                    'width': 'data(width)',
                    'background-fit': 'contain',
                    'padding': 1,
                    'content': 'data(label)',
                    'background-color': '#0B94B1',
                    'border-width': 1,
                    'border-color': 'white',
                    'font-size': 15
                }
            },
            {
                selector: 'node.enzyme',
                style: {
                    'shape': 'triangle',
                    'content': 'data(label)',
                    'height': 15,
                    'width': 15,
                    'background-color': '#0B94B1',
                    'background-opacity': 1
                }
            },
            {
                selector: 'edge',
                style: {
                    'width': 'data(width)',
                    'opacity': 0.9,
                    'content': 'data(label)',
                    'line-color': '#999'
                }
            },
            {
                selector: ':parent',
                style: {
                    'background-color': '#ABCFD6',
                    'height': 20,
                    'width': 20,
                    'background-opacity': 1.0,
                    'border-opacity': 0.0
                }
            },
            {
                selector: 'edge.bezier',
                style: {
                    "curve-style": "bezier",
                    'line-style': 'solid',
                    'target-arrow-color': '#999',
                    'target-arrow-shape': 'triangle'
                }
            }],
        elements: data
    });
    
    cy.ready(function () {
       setTimeout(function () {
           cy.zoomingEnabled(false);
       }, 500);
    });

    $("#refresh_img_btn").click(function () {
        var fontSize = $("#font_size_input").val();
        if (fontSize == "") {
            fontSize = 15;
        }
        var nodeSize = $("#node_size_input").val();
        if (nodeSize == "") {
            nodeSize = 20;
        }
        var nodeColor = $("#node_color_input").val();
        if (nodeColor == "") {
            nodeColor = "#0B94B1";
        }
        var edgeColor = $("#edge_color_input").val();
        if (edgeColor == "") {
            edgeColor = "#999999";
        }
        cy.style()
            .selector('node')
            .style({
                'background-color': nodeColor,
                'width': nodeSize,
                'height': nodeSize,
                'font-size': fontSize
            })
            .selector('edge')
            .style({
                'line-color': edgeColor
            })
            .selector('edge.bezier')
            .style({
                'target-arrow-color': edgeColor
            })
            .selector(":parent")
            .style({
                'background-color': '#ABCFD6'
            })
            .update();
    });

    function base64toBlob(base64Data, contentType) {
        contentType = contentType || '';
        var sliceSize = 1024;
        var byteCharacters = atob(base64Data);
        var bytesLength = byteCharacters.length;
        var slicesCount = Math.ceil(bytesLength / sliceSize);
        var byteArrays = new Array(slicesCount);

        for (var sliceIndex = 0; sliceIndex < slicesCount; ++sliceIndex) {
            var begin = sliceIndex * sliceSize;
            var end = Math.min(begin + sliceSize, bytesLength);

            var bytes = new Array(end - begin);
            for (var offset = begin, i = 0; offset < end; ++i, ++offset) {
                bytes[i] = byteCharacters[offset].charCodeAt(0);
            }
            byteArrays[sliceIndex] = new Uint8Array(bytes);
        }
        return new Blob(byteArrays, {type: contentType});
    }

    $("#export_png").click(function () {
        var networkData = cy.png();
        var b64key = 'base64,';
        var b64 = networkData.substring(networkData.indexOf(b64key) + b64key.length);
        var imgBlob = base64toBlob(b64, 'image/png');
        saveAs(imgBlob, 'network_flux_graph.png');
    });
</script>
</body>
</html>