<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>CeCaFLUX - A powerful visual tool and the first user-friendly web server for effective inferring
    intracellular metabolic flux from instationary 13C labeling data.</title>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <link rel="icon" href="images/cecafdb_title_logo.png"
          type="image/x-icon">
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel='stylesheet' type='text/css' href='css/wuxia-green.css'/>
    <link rel='stylesheet' type='text/css' href='css/input_size.css'/>
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">
    <style type="text/css">
        .reactions_table {
            border-collapse: collapse;
            background-color: #f6f6f6;
            border: 2px solid #fdfdfd;
            border-collapse: separate;
            *border-collapse: collapsed;
            border-left: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        .reactions_table th {
            background: #CCCCCC;
            padding: 7px 15px;
            text-align: center;
            vertical-align: middle;
            border-top: 2px solid #fdfdfd;
            border-left: 2px solid #fdfdfd;
        }

        .reactions_table td {
            background: #C7DDEE none repeat-x scroll center left;
            color: #474545;
            font: 15px Verdana, Geneva, sans-serif;
            padding: 7px 15px;
            border-top: 2px solid #fdfdfd;
            border-left: 2px solid #fdfdfd;
            word-wrap: break-word;
            word-break: break-all;
            text-align: center;
            vertical-align: middle;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <div class="shell">
        <div class="container">
            <div th:replace="common/head::myhead"></div>
            <div class="main" style="padding: 10px">

                <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                    <div style="width : 960px; margin: 0 auto;">
                        <p id="ftbl_file_hint" style="color:red; display:none; text-align:left; margin-left: 5px;">
                            Please select an FTBL file with correct information!</p>
                        <P>
                            <span style="color: green;">Download a template FTBL file!</span>
                            <button type="button" class="layui-btn" id="ftbl_download_btn"
                                    style="margin-bottom: 3px;">Download
                            </button>
                        <form id="download_template_ftbl_form" method="post"
                              th:action="@{/download_template_ftbl_file}">
                        </form>
                        </P>
                        <form id="ftbl_file_form" action="/upload_ftbl_file" method="POST"
                              enctype="multipart/form-data" style="margin-top: 20px;">
                            <span style="color: green">Please select an FTBL file!</span>
                            <input id="ftbl_file" type="file" name="file" style="display: none;" onchange="changeAgentContent()" title="Please select an FTBL file"/>
                            <input type="text" value="No File selected" disabled id="ftbl_file_agent" class="input_small"/>
                            <button type="button" class="layui-btn" onclick="document.getElementById('ftbl_file').click()">Choose File</button>
                            <button type="button" class="layui-btn" id="ftbl_parsing_btn"
                                    style="margin-bottom: 3px;">Parsing FTBL File
                            </button>
                        </form>

                    </div>
                </div>

                <!-- Submit -->
                <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                    <p id="submit_hint" style="color:red; display:none; text-align:left; margin-left: 5px;"></p>
                    <div style="width : 960px; margin: 0 auto;">
                        <P>
                            Runge Kutta : <select id="rungekutta_op" style="height:35px;width:150px;">
                            <option value="1" selected>Adaptive step</option>
                            <option value="2">Fixed step</option>
                        </select>
                            Step: <input id="step_input" class="input_small" type="text" placeholder="like 0.001"/>&nbsp;For
                            Adaptive step method, an initial step size is required.
                            <br/>Model name: <input id="model_name_input" class="input_small" type="text"
                                                    placeholder="model name"/>&nbsp;
                            Population size: <input id="space_input" class="input_small" type="text"
                                                    placeholder="an even >= 10"/>&nbsp;
                            Email: <input id="email_input" class="input_small" type="text" placeholder="Email"/><br/>
                            <br/><input type="checkbox" id="public_cb"/> Would you let your simulation publicly visible?<br/><br/>
                            <button type="button" class="layui-btn" id="submit_btn"
                                    style="margin-bottom: 3px;">Submit
                            </button>
                        </P>
                    </div>
                </div>

                <!-- FTBL File Contents-->
                <div id="ftbl_file_div" style="display: none;">

                    <!--Added or Selected from search reaction table-->
                    <div class="reactions_table" style="margin-top: 10px;">
                        <table class="table table-striped table-bordered" style="margin-bottom: 1px;"
                               id="reaction_list_table">
                            <thead>
                            <tr>
                                <th>Rxn Name</th>
                                <th>Compound</th>
                                <th>Reactant/Product</th>
                                <th>Carbon</th>
                            </tr>
                            </thead>
                            <tbody id="reaction_list_tbody">
                            </tbody>
                        </table>
                    </div>

                    <!-- FLUXES NET -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">FLUXES&nbsp;NET</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>Reaction Name</th>
                                    <th>Constrained Flux Value</th>
                                </tr>
                                </thead>
                                <tbody id="flux_net_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- POOL_SIZE -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">POOL_SIZE</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>Compound Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody id="pool_size_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- EQUALITIES -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">EQUALITIES</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>Coefficient reaction 1</th>
                                    <th>Coefficient reaction 2</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody id="equalities_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- INEQUALITIES -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">INEQUALITIES</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>InEqualities</th>
                                </tr>
                                </thead>
                                <tbody id="inequalities_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- LABEL_INPUT -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">LABEL_INPUT</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>Compound</th>
                                    <th>Isotopomer</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody id="label_input_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- MASS_SPECTROMETRY -->
                    <div style="color:gray;width:100%;font:16px Verdana, Geneva, sans-serif; padding-top : 5px; padding-bottom: 5px; background-color:#f6f6f6; margin-top: 10px;">
                        <P style="margin-left: 5px;">MASS_SPECTROMETRY</P>
                        <div style="width : 960px; margin: 0 auto;">
                            <table class="table table-striped table-bordered reactions_table"
                                   style="margin-bottom: 1px;">
                                <thead>
                                <tr>
                                    <th>Compound</th>
                                    <th>Fragment</th>
                                    <th>Mass</th>
                                    <th>Value</th>
                                    <th>Standard deviation</th>
                                    <th>Time point</th>
                                </tr>
                                </thead>
                                <tbody id="mass_spectrometry_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div th:replace="common/foot::myfoot"></div>
    </div>
</div>
</div>
<script src="layui/layui.all.js"></script>

<script>

    function changeAgentContent(){
        document.getElementById("ftbl_file_agent").value = document.getElementById("ftbl_file").files[0].name;
    }

    var timestamp = "[[${timestamp}]]";

    window.history.replaceState(null, null, "./model?src=initializing&timestamp=" + timestamp);

    function isEndWith(str, target) {
        var strLen = str.length;
        var targetLen = target.length;
        if (str.substring(strLen - targetLen) == target) {
            return true;
        }
        return false;
    }

    $("#ftbl_parsing_btn").click(function () {
        var file_name = $("#ftbl_file").val();
        if (file_name == "" || !isEndWith(file_name, ".ftbl")) {
            $("#ftbl_file_hint").css("display", "block");
            return;
        } else {
            $("#ftbl_file_hint").css("display", "none");
        }
        var form = new FormData(document.getElementById("ftbl_file_form"));

        var layer_index;

        $.ajax({
            url: "upload_ftbl_file",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            beforeSend: function () {
                layer_index = layer.msg('Parsing, please wait a moment', {
                    icon: 16,
                    time: 300000,
                    shade: 0.1
                });
            },
            success: function (data) {
                layer.close(layer_index);
                if (data.status == "success") {
                    $("#ftbl_file_div").css("display", "block");
                    $("#reaction_list_tbody").html(data.reaction_contents);
                    $("#flux_net_tbody").html(data.flux_net);
                    $("#pool_size_tbody").html(data.pool_size);
                    $("#equalities_tbody").html(data.equalities);
                    $("#inequalities_tbody").html(data.inequalities);
                    $("#label_input_tbody").html(data.label_input);
                    $("#mass_spectrometry_tbody").html(data.mass_spectrometry);
                } else {
                    $("#ftbl_file_div").css("display", "none");
                    $("#ftbl_file_hint").css("display", "block");
                }
            },
            error: function (e) {
                layer.close(layer_index);
                $("#ftbl_file_hint").css("display", "block");
            }
        });
    });

    var isSubmitting = true;

    $("#submit_btn").click(function () {
        if (!isSubmitting) {
            return false;
        }
        var model_name = $("#model_name_input").val();
        var method = $("#rungekutta_op").val();
        var step = $("#step_input").val();
        var email = $("#email_input").val();

        var reg_double = /^\d+(\.\d*)?$/;
        var space = $("#space_input").val();

        if (model_name == "" || step == "" || !reg_double.test(step) || space == "" || space < 10 || space % 2 != 0 || email == "") {
            $("#submit_hint").css("display", "block");
            $("#submit_hint").html("Please input correct information!");
            return false;
        }
        $("#submit_hint").css("display", "none");

        var reactionContents = "";
        $("#reaction_list_tbody tr").each(function () {
            reactionContents = reactionContents + "<tr>"
            $(this).children().each(function () {
                reactionContents = reactionContents + "<td>" + $(this).text() + "</td>";
            });
            reactionContents = reactionContents + "</tr>"
        });
        if (reactionContents == "") {
            $("#ftbl_file_hint").css("display", "block");
            return false;
        }
        reactionContents = "<reaction_contents>" + reactionContents + "</reaction_contents>";

        var fluxNetContents = "";
        $("#flux_net_tbody tr").each(function () {
            fluxNetContents = fluxNetContents + "<tr>"
            $(this).children().each(function () {
                fluxNetContents = fluxNetContents + "<td>" + $(this).text() + "</td>";
            });
            fluxNetContents = fluxNetContents + "</tr>"
        });
        fluxNetContents = "<flux_net>" + fluxNetContents + "</flux_net>";

        var poolSizeContents = "";
        $("#pool_size_tbody tr").each(function () {
            poolSizeContents = poolSizeContents + "<tr>"
            $(this).children().each(function () {
                poolSizeContents = poolSizeContents + "<td>" + $(this).text() + "</td>";
            });
            poolSizeContents = poolSizeContents + "</tr>"
        });
        poolSizeContents = "<pool_size>" + poolSizeContents + "</pool_size>";

        var equalitiesContents = "";
        $("#equalities_tbody tr").each(function () {
            equalitiesContents = equalitiesContents + "<tr>"
            $(this).children().each(function () {
                equalitiesContents = equalitiesContents + "<td>" + $(this).text() + "</td>";
            });
            equalitiesContents = equalitiesContents + "</tr>"
        });
        equalitiesContents = "<equality>" + equalitiesContents + "</equality>";

        var inEqualitiesContents = "";
        $("#inequalities_tbody tr").each(function () {
            inEqualitiesContents = inEqualitiesContents + "<tr>"
            $(this).children().each(function () {
                inEqualitiesContents = inEqualitiesContents + "<td>" + $(this).text() + "</td>";
            });
            inEqualitiesContents = inEqualitiesContents + "</tr>"
        });
        inEqualitiesContents = "<inEquality>" + inEqualitiesContents + "</inEquality>";

        var labelInputContents = "";
        $("#label_input_tbody tr").each(function () {
            labelInputContents = labelInputContents + "<tr>"
            $(this).children().each(function () {
                labelInputContents = labelInputContents + "<td>" + $(this).text() + "</td>";
            });
            labelInputContents = labelInputContents + "</tr>"
        });
        if (labelInputContents == "") {
            $("#ftbl_file_hint").css("display", "block");
            return false;
        }
        labelInputContents = "<label_input>" + labelInputContents + "</label_input>";

        var massSpectrometryContents = "";
        $("#mass_spectrometry_tbody tr").each(function () {
            massSpectrometryContents = massSpectrometryContents + "<tr>"
            $(this).children().each(function () {
                massSpectrometryContents = massSpectrometryContents + "<td>" + $(this).text() + "</td>";
            });
            massSpectrometryContents = massSpectrometryContents + "</tr>"
        });
        if (massSpectrometryContents == "") {
            $("#ftbl_file_hint").css("display", "block");
            return false;
        }
        massSpectrometryContents = "<mass_spectrometry>" + massSpectrometryContents + "</mass_spectrometry>";

        //1: no public, 2: public
        var is_public = "1";
        if ($("#reversed_reaction_cb").is(':checked')) {
            is_public = "2";
        }

        var layer_index;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "reaction_parsing",
            data: {
                "reaction_content": reactionContents,
                "flux_net_content": fluxNetContents,
                "pool_size_content": poolSizeContents,
                "equality_content": equalitiesContents,
                "inequality_content": inEqualitiesContents,
                "label_input_content": labelInputContents,
                "mass_spectrometry_content": massSpectrometryContents,
                "model_name": model_name,
                "method": method,
                "step": step,
                "sample_space": space,
                "email": email,
                "timestamp": timestamp,
                "src": "initializing",
                "is_public": is_public
            },
            beforeSend: function () {
                layer_index = layer.msg('Submitting, please wait a moment', {
                    icon: 16,
                    time: 300000,
                    shade: 0.1
                });
                isSubmitting = false;
            },
            success: function (result) {
                layer.close(layer_index);
                isSubmitting = true;
                if (result.status == "success") {
                    history.go(0);
                } else {
                    alert("Please check network information and submit later again!");
                }
            },
            error: function (e) {
                layer.close(layer_index);
                isSubmitting = true;
                alert("Error ! Please check network information and submit later again!");
            }
        });
        return false;
    });

    $("#ftbl_download_btn").click(function () {
        $("#download_template_ftbl_form").submit();
    });
</script>
</body>
</html>