<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="myfoot">
<div class="public_footer">
    <div id="footer">
        <div class="footer-cols">
            <div class="col">
                <h2>Metabolome database</h2><br/>
                <ul>
                    <li><a target="_blank" href="http://www.cecafdb.org">CeCaFDB</a></li>
                    <li><a target="_blank" href="http://www.ebi.ac.uk/metabolights">Metabolights</a></li>
                    <li><a target="_blank" href="http://www.ecmdb.ca">Seo Ecoli Metabolome Database</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Metabolic pathway database</h2>
                <ul>
                    <li><a target="_blank" href="http://bigg.ucsd.edu">BiGG Database </a></li>
                    <li><a target="_blank" href="http://humanmetabolism.org">Recon X</a></li>
                    <li><a target="_blank" href="http://www.ebi.ac.uk/biomodels-main">Biommodel</a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Fluxomics</h2><br/>
                <ul>
                    <li><a target="_blank" href="http://www.13cflux.net">13C-FLUX</a></li>
                    <li><a target="_blank"
                           href="http://www.omix-visualization.com/index.jsp?#sthash.VWHw9Hat.dpbs">OMIX</a></li>
                    <li><a target="_blank" href="http://openflux.sourceforge.net">openFLUX </a></li>
                </ul>
            </div>
            <div class="col">
                <h2>Homepage</h2><br/>
                <ul>
                    <li><a target="_blank" href="http://www.imsb.ethz.ch/researchgroup/sauer">Sauer' lab</a></li>
                    <li><a target="_blank" href="http://systemsbiology.ucsd.edu/">Palsson's lab</a></li>
                    <li><a target="_blank" href="http://www.che.udel.edu/mranton/">Antoniewicz'lab</a></li>
                </ul>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <!-- end of footer-cols -->
        <div class="footer-bottom">
            <p class="copy">&copy; Copyright &copy; 2022 all rights reserved. E-mail:<a href="mailto:cecafdb@163.com">cecafdb@163.com</a>, <a href="mailto:shentie@gznu.edu.cn">shentie@gznu.edu.cn</a>. <a target="_blank" href="https://beian.miit.gov.cn/">Qian ICP:14002031-2</a></p>
        </div>
    </div>
</div>
</html>
